*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.carousel {
    max-width: 600px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    height: auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
    
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

/* Something doesn't work with image size in div container; image is too big: */
.carousel .carousel-item img {
    max-width: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.carousel .carousel-actions {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel .carousel-actions button {
    font-size: 16px;
    font-weight: bold;
    background-color: whitesmoke;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 20px;
}

.carousel .carousel-actions button:hover,
.carousel .carousel-actions button:focus {
    background-color: darkred;
    color: whitesmoke;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px;
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}